In [9]:
import pandas as pd

data = pd.read_csv('actors.csv')

data.head(20)

,Actor,Total Gross,Number of Movies,Average per Movie,#1 Movie,Gross
0,Harrison Ford,4871.7,41,118.8,Star Wars: The Force Awakens,936.7
1,Samuel L. Jackson,4772.8,69,69.2,The Avengers,623.4
2,Morgan Freeman,4468.3,61,73.3,The Dark Knight,534.9
3,Tom Hanks,4340.8,44,98.7,Toy Story 3,415.0
4,"Robert Downey, Jr.",3947.3,53,74.5,The Avengers,623.4
5,Eddie Murphy,3810.4,38,100.3,Shrek 2,441.2
6,Tom Cruise,3587.2,36,99.6,War of the Worlds,234.3
7,Johnny Depp,3368.6,45,74.9,Dead Man's Chest,423.3
8,Michael Caine,3351.5,58,57.8,The Dark Knight,534.9
9,Scarlett Johansson,3341.2,37,90.3,The Avengers,623.4
10,Gary Oldman,3294.0,38,86.7,The Dark Knight,534.9
11,Robin Williams,3279.3,49,66.9,Night at the Museum,250.9
12,Bruce Willis,3189.4,60,53.2,Sixth Sense,293.5
13,Stellan Skarsgard,3175.0,43,73.8,The Avengers,623.4
14,Anthony Daniels,3162.9,7,451.8,Star Wars: The Force Awakens,936.7
15,Ian McKellen,3150.4,31,101.6,Return of the King,377.8
16,Will Smith,3149.1,24,131.2,Independence Day,306.2
17,Stanley Tucci,3123.9,50,62.5,Catching Fire,424.7
18,Matt Damon,3107.3,39,79.7,The Martian,228.4
19,Robert DeNiro,3081.3,79,39.0,Meet the Fockers,279.3

In [5]:
df = data

In [8]:
resultados = []

# Iterando sobre as linhas do DataFrame
for indice, linha in df.iterrows():
    resultado = linha['Total Gross'] / linha['Number of Movies']
    resultados.append(resultado)

# Encontrando o maior valor e sua posição no DataFrame
maior_valor = max(resultados)
indice_maior_valor = resultados.index(maior_valor)

# Imprimindo os resultados
print("Resultados das divisões:")
for i, resultado in enumerate(resultados):
    print(f"Linha {i+1}: {resultado}")

print(f"\nMaior valor encontrado: {maior_valor} na linha {indice_maior_valor + 1}")

Resultados das divisões:
Linha 1: 118.82195121951219
Linha 2: 69.17101449275363
Linha 3: 73.25081967213114
Linha 4: 98.65454545454546
Linha 5: 74.47735849056605
Linha 6: 100.27368421052631
Linha 7: 99.64444444444445
Linha 8: 74.85777777777777
Linha 9: 57.78448275862069
Linha 10: 90.3027027027027
Linha 11: 86.6842105263158
Linha 12: 66.92448979591838
Linha 13: 53.156666666666666
Linha 14: 73.83720930232558
Linha 15: 451.84285714285716
Linha 16: 101.6258064516129
Linha 17: 131.2125
Linha 18: 62.478
Linha 19: 79.67435897435898
Linha 20: 39.003797468354435
Linha 21: 89.16764705882352
Linha 22: 46.70952380952381
Linha 23: 125.67826086956521
Linha 24: 84.86470588235295
Linha 25: 76.4054054054054
Linha 26: 78.38888888888889
Linha 27: 165.63529411764708
Linha 28: 56.316
Linha 29: 71.86153846153846
Linha 30: 65.12619047619049
Linha 31: 77.89428571428572
Linha 32: 75.42500000000001
Linha 33: 157.75882352941176
Linha 34: 58.289130434782614
Linha 35: 67.02250000000001
Linha 36: 83.15625
Linha 37: 154.96470588235294
Linha 38: 89.83103448275861
Linha 39: 66.72564102564102
Linha 40: 99.25384615384615
Linha 41: 102.30799999999999
Linha 42: 70.82777777777778
Linha 43: 94.26666666666667
Linha 44: 58.65348837209302
Linha 45: 100.73200000000001
Linha 46: 119.06190476190477
Linha 47: 61.592499999999994
Linha 48: 70.36
Linha 49: 106.8608695652174
Linha 50: 96.66

Maior valor encontrado: 451.84285714285716 na linha 15

In [11]:
df['#1 Movie'].value_counts()

#1 Movie
The Avengers                           6
Catching Fire                          4
Harry Potter / Deathly Hallows (P2)    4
Star Wars: The Force Awakens           3
The Dark Knight                        3
Meet the Fockers                       3
Avengers: Age of Ultron                2
Return of the King                     2
Night at the Museum                    2
Dead Man's Chest                       2
Shrek 2                                2
The Grinch                             1
World War Z                            1
Transformers 4                         1
American Sniper                        1
Titanic                                1
Minions                                1
The LEGO Movie                         1
Hotel Transylvania 2                   1
The Phantom Menace                     1
Men in Black                           1
Ocean's Eleven                         1
The Martian                            1
Independence Day                       1
Sixth Sense                            1
War of the Worlds                      1
Toy Story 3                            1
The Dark Knight Rises                  1
Name: count, dtype: int64